body{
    background-color:rgba(135, 206, 250);
    font-family: monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
    background-color: rgba(176, 196, 222);
    width: 90%;
    max-width: 400px;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 20px rgba(160, 180, 200);
}

.profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid dimgray;
}

h2 {
    color: orangered;
    margin-top: 20px;
}

p {
    color: darkblue;
    margin-bottom: 25px;
    font-size: 15px;
}

.linktree{
    display: block;
    background-color: darksalmon;
    color: black;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    margin: 10px 0;
}
.linktree :hover{
    
}